.login {
    display: flex;
    justify-content: space-evenly;
}

#loginMain {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template: 150px / auto auto auto;*/
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template:
    'sideT form rightT'
    'sideC form rightC'
    'sideB centerB rightB';
    background-color: var(--bg3);
    border-radius: .75rem;

    form {
        grid-area: form;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }
    #loginBtn {
        justify-self: center;
    }
    #toRegister{
        grid-area: centerB;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;
    }
}