.button {
    text-decoration: none;
    color: var(--text);
    padding: .5rem .75rem;
    border-radius: var(--radius);
    background-color: var(--bg2);
    text-align: center;
}

.button:hover {
    background-color: #eeee;
}

.disabled {
    background-color: #cd5a4c;
    cursor: not-allowed;
    border-color: red;
    align-self: start;
}

