.title{
}
.description {
}

.fullWarning {
    /*display: none;*/
    font-size: .8rem;
    color: red;
    wrap-after: auto;
    margin: 0;
    padding: 0;
}
span {
    font-size: .8rem;
}

#descriptionInput {

}