*,
*::before,
*::after {
    box-sizing: border-box;
    border: 1px solid black;
}
:root{
    --bg: #70293F; /*#fff;*/
    --bg2: #70294F;
    --bg3: #70292F;
    --bg_header: #eeee;
    --text: #ffffff; /*#111;*/
    --muted: #666;
    --surface: #fff;
    --hover:#70296F;
    --border: purple;/*#e5e5e5;*/
    --brand: #0d6efd;
    --t0: clamp(.95rem, .38vw+ .88rem, 1.05rem);
    --t1: clamp(1.1rem, .6vw+ 1rem, 1.35rem);
    --t2: clamp(1.35rem, 1vw+ 1rem, 1.8rem);
    --gap: clamp(.75rem, 1.5vw, 1.25rem);
    --radius: 1rem;
    --bp-md: 48rem;
    --bp-lg: 64rem;
    --bp-xl: 80rem;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}
/* default element styling*/
html, body{
    height: 100%;
}
body{
    margin: 0;
    background-color: var(--bg);
    color: var(--text);/*#112A46;*/
    /*font-size: 24px; !* sets default font size for the entire site, t# variables reference this size w/ clamp() *!*/
    font-size: 1.5rem;
    font-family: var(--font-mono);
}
.wrap{
    min-block-size: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.safe{
    padding-inline: max(var(--gap), env(safe-area-inset-left, 0px));
    padding-inline-end: max(var(--gap), env(safe-area-inset-right, 0px));
    padding-block: max(calc(var(--gap)*0.9, env(safe-area-inset-top,0px))) max(calc(var(--gap), env(safe-area-inset-bottom, 0+x)));
}
/*.safe{*/
/*    padding-block: max(calc(var(--gap)*0.9, env(safe-area-inset-top,0px))) max(calc(var(--gap), env(safe-area-inset-bottom, 0+x)));*/
/*}*/
.pad{
    padding: 0;
}